<footer class="bg-gray-600 w-full h-10 flex items-center justify-center">
    <h2><a href="#" class="text-gray-100">/Mentor404</a></h2>
</footer>

</div>
<script src="/assets/js/bundle.js"></script>
</body>
</html>
